/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;    
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer;
    border-radius: 10px;
  }
  
  .column img:hover {
    opacity: 1;
  }
  /* The grid: Three equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 33%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column1 img {
    opacity: 0.8; 
    cursor: pointer;
    border-radius: 10px; 
  }
  
  .column1 img:hover {
    opacity: 1;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: block;
    box-shadow: -5px 15px 80px 15px grey;
    border-radius: 10px;
  }

#expandedImg{
  width:100%;
  border-radius: 10px;
}
#expandedImg1{
  width:100%;
  border-radius: 10px;
}
#expandedImg2{
  width:100%;
  border-radius: 10px;
}
#expandedImg3{
  width:100%;
  border-radius: 10px;
}
#expandedImg4{
  width:100%;
  border-radius: 10px;
}
#expandedImg5{
  width:100%;
  border-radius: 10px;
}
#expandedImg6{
  width:100%;
  border-radius: 10px;
}
#expandedImg7{
  width:100%;
  border-radius: 10px;
}
#expandedImg8{
  width:100%;
  border-radius: 10px;
}
#expandedImg9{
  width:100%;
  border-radius: 10px;
}
#expandedImg10{
  width:100%;
  border-radius: 10px;
}
#expandedImg11{
  width:100%;
  border-radius: 10px;
}

